apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
 replicas: 1
 selector:
  matchLabels:
   app: frontend
  template:
   metadata:
    labels:
     app: frontend
   spec:
    containers:
     - name: frontend
       image: proyectopython-react-frontend:latest
       ports:
        - containerPort: 5173
       env:
        - name: VITE_BACKEND_URL
          value: "http://backend:5000"